@charset "UTF-8";

@font-face {
  font-family: "ico-movistar";
  src: url("../fonts/ico-movistar.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ico-movistar" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ico-movistar" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circular-tiendas:before {
  content: "\61";
}
.icon-circular-agenda:before {
  content: "\62";
}
.icon-circular-chat:before {
  content: "\63";
}
.icon-circular-conectar:before {
  content: "\64";
}
.icon-circular-comunidad:before {
  content: "\66";
}
.icon-circular-escribenos:before {
  content: "\67";
}
.icon-circular-factura:before {
  content: "\68";
}
.icon-circular-fijo:before {
  content: "\69";
}
.icon-circular-fusion:before {
  content: "\6a";
}
.icon-circular-guru:before {
  content: "\6b";
}
.icon-circular-lineas:before {
  content: "\6c";
}
.icon-circular-reclamacion:before {
  content: "\6d";
}
.icon-circular-tiendas:before {
  content: "\6e";
}
.icon-circular-tv:before {
  content: "\6f";
}
.icon-circular-soporte-tecnico:before {
  content: "\70";
}
.icon-cheuron-dcha:before {
  content: "\71";
}
.icon-gplus:before {
  content: "\72";
}
.icon-facebook:before {
  content: "\74";
}
.icon-tuenti:before {
  content: "\75";
}
.icon-youtube:before {
  content: "\77";
}
.icon-rss:before {
  content: "\78";
}
.icon-cheuron-dcha-2:before {
  content: "\79";
}
.icon-flecha-dcha-2:before {
  content: "\7a";
}
.icon-v-down:before {
  content: "\41";
}
.icon-flecha-oblicua:before {
  content: "\42";
}
.icon-plus:before {
  content: "\43";
}
.icon-plus-forte:before {
  content: "\44";
}
.icon-tiendas:before {
  content: "\46";
}
.icon-test-velocidad:before {
  content: "\47";
}
.icon-mi-movistar:before {
  content: "\49";
}
.icon-por-ser:before {
  content: "\4a";
}
.icon-router:before {
  content: "\4b";
}
.icon-sms:before {
  content: "\4c";
}
.icon-soporte-tecnico:before {
  content: "\4d";
}
.icon-manos-libres:before {
  content: "\4e";
}
.icon-lineas:before {
  content: "\4f";
}
.icon-home:before {
  content: "\50";
}
.icon-gestion-servicios:before {
  content: "\51";
}
.icon-agenda:before {
  content: "\53";
}
.icon-configuracion:before {
  content: "\54";
}
.icon-factura:before {
  content: "\55";
}
.icon-escribenos:before {
  content: "\58";
}
.icon-comunidad:before {
  content: "\59";
}
.icon-contactanos:before {
  content: "\5a";
}
.icon-directorio:before {
  content: "\30";
}
.icon-conectar:before {
  content: "\31";
}
.icon-compra:before {
  content: "\32";
}
.icon-cobertura-producto:before {
  content: "\33";
}
.icon-cobertura:before {
  content: "\34";
}
.icon-app-mi-movistar:before {
  content: "\36";
}
.icon-atencion-cliente:before {
  content: "\37";
}
.icon-chat:before {
  content: "\39";
}
.icon-moviles-prepago:before {
  content: "\22";
}
.icon-moviles-contrato:before {
  content: "\23";
}
.icon-menu:before {
  content: "\24";
}
.icon-agenda:before {
  content: "\25";
}
.icon-3g:before {
  content: "\26";
}
.icon-4g:before {
  content: "\27";
}
.icon-aplicaciones:before {
  content: "\29";
}
.icon-asistencia-tecnica:before {
  content: "\2a";
}
.icon-exclusivo-online:before {
  content: "\2b";
}
.icon-fusion:before {
  content: "\2c";
}
.icon-movil-contrato:before {
  content: "\2f";
}
.icon-circular-3g:before {
  content: "\3d";
}
.icon-circular-4g:before {
  content: "\3e";
}
.icon-circular-aplicaciones:before {
  content: "\40";
}
.icon-circular-fibra:before {
  content: "\5d";
}
.icon-circular-exclusivo-online:before {
  content: "\5e";
}
.icon-circular-movil-contrato:before {
  content: "\7b";
}
.icon-circular-movil-tarjeta:before {
  content: "\7d";
}
.icon-circular-ofertas:before {
  content: "\7e";
}
.icon-circular-tv-hd:before {
  content: "\5c";
}
.icon-circular-sms:before {
  content: "\e000";
}
.icon-circular-descargar:before {
  content: "\e002";
}
.icon-circular-flecha-down:before {
  content: "\e003";
}
.icon-descargar:before {
  content: "\e004";
}
.icon-reclamaciones:before {
  content: "\e005";
}
.icon-circular-linkedin:before {
  content: "\e006";
}
.icon-enlace-circular-empresas:before {
  content: "\e00b";
}
.icon-moviles-contrato-izq:before {
  content: "\e00f";
}
.icon-moviles-prepago-izq:before {
  content: "\e010";
}
.icon-linkedin:before {
  content: "\e011";
}
.icon-favoritos:before {
  content: "\e01f";
}
.icon-favoritos-partido:before {
  content: "\e013";
}
.icon-circular-datos:before {
  content: "\e039";
}
.icon-circular-oficina:before {
  content: "\e045";
}
.icon-circular-productividad:before {
  content: "\e048";
}
.icon-accesible:before {
  content: "\e015";
}
.icon-adaptable:before {
  content: "\e016";
}
.icon-ahorro:before {
  content: "\e017";
}
.icon-apple:before {
  content: "\e019";
}
.icon-audiencia:before {
  content: "\e01a";
}
.icon-datos:before {
  content: "\e050";
}
.icon-ecologico:before {
  content: "\e01d";
}
.icon-calidad:before {
  content: "\e01b";
}
.icon-escritorio:before {
  content: "\e01e";
}
.icon-garantia:before {
  content: "\e020";
}
.icon-global:before {
  content: "\e026";
}
.icon-identidad:before {
  content: "\e022";
}
.icon-innovacion:before {
  content: "\e023";
}
.icon-ipad:before {
  content: "\e024";
}
.icon-iphone:before {
  content: "\e025";
}
.icon-lineas-adicionales:before {
  content: "\e051";
}
.icon-oficina:before {
  content: "\e02e";
}
.icon-organizador:before {
  content: "\e055";
}
.icon-pc:before {
  content: "\e02d";
}
.icon-portatil:before {
  content: "\e02b";
}
.icon-productividad:before {
  content: "\e02a";
}
.icon-red:before {
  content: "\e027";
}
.icon-registrar:before {
  content: "\e052";
}
.icon-seguridad-pc:before {
  content: "\e02f";
}
.icon-servicios:before {
  content: "\e030";
}
.icon-smartphone:before {
  content: "\e02c";
}
.icon-tablet:before {
  content: "\e029";
}
.icon-tarifa:before {
  content: "\e057";
}
.icon-tiempo:before {
  content: "\e028";
}
.icon-windows:before {
  content: "\e031";
}
.icon-circular-accesible:before {
  content: "\e032";
}
.icon-circular-adaptable:before {
  content: "\e033";
}
.icon-circular-ahorro:before {
  content: "\e034";
}
.icon-circular-apple:before {
  content: "\e058";
}
.icon-circular-audiencia:before {
  content: "\e036";
}
.icon-circular-buscador:before {
  content: "\e059";
}
.icon-circular-buscar:before {
  content: "\e05a";
}
.icon-circular-calidad:before {
  content: "\e037";
}
.icon-circular-control:before {
  content: "\e007";
}
.icon-circular-global:before {
  content: "\e008";
}
.icon-circular-g-plus:before {
  content: "\e009";
}
.icon-circular-garantia:before {
  content: "\e00a";
}
.icon-circular-pc:before {
  content: "\e00c";
}
.icon-circular-firefox:before {
  content: "\e00e";
}
.icon-circular-finanzas:before {
  content: "\e012";
}
.icon-circular-favoritos:before {
  content: "\e014";
}
.icon-circular-facebook:before {
  content: "\e038";
}
.icon-circular-euro:before {
  content: "\e03a";
}
.icon-circular-escritorio:before {
  content: "\e03b";
}
.icon-circular-ecologico:before {
  content: "\e03c";
}
.icon-circular-datos-1:before {
  content: "\e03d";
}
.icon-circular-identidad:before {
  content: "\e03e";
}
.icon-circular-innovacion:before {
  content: "\e03f";
}
.icon-circular-instagram:before {
  content: "\e040";
}
.icon-circular-ipad:before {
  content: "\e041";
}
.icon-circular-iphone:before {
  content: "\e042";
}
.icon-circular-lineas-adicionales:before {
  content: "\e043";
}
.icon-circular-linkedin-1:before {
  content: "\e044";
}
.icon-circular-multipantalla:before {
  content: "\e046";
}
.icon-circular-portatil:before {
  content: "\e047";
}
.icon-circular-red:before {
  content: "\e04a";
}
.icon-circular-registrar:before {
  content: "\e04b";
}
.icon-circular-rss:before {
  content: "\e04c";
}
.icon-circular-seguridad-pc:before {
  content: "\e04e";
}
.icon-circular-servicios:before {
  content: "\e04f";
}
.icon-circular-smartphone:before {
  content: "\e053";
}
.icon-circular-subir:before {
  content: "\e05b";
}
.icon-circular-tablet:before {
  content: "\e05c";
}
.icon-circular-tarifa:before {
  content: "\e05d";
}
.icon-circular-tiempo:before {
  content: "\e05e";
}
.icon-circular-tuenti:before {
  content: "\e05f";
}
.icon-circular-twitter:before {
  content: "\e060";
}
.icon-circular-windows:before {
  content: "\e061";
}
.icon-circular-youtube:before {
  content: "\e062";
}
.icon-fusion-fibra:before {
  content: "\e063";
}
.icon-fusion-fibra-1:before {
  content: "\e064";
}
.icon-guru:before {
  content: "\52";
}
.icon-modem-usb-partido:before {
  content: "\e067";
}
.icon-eliminar:before {
  content: "\e068";
}
.icon-viajar:before {
  content: "\e069";
}
.icon-musica:before {
  content: "\e06a";
}
.icon-preguntas-frecuentes:before {
  content: "\e06b";
}
.icon-circular-noticias:before {
  content: "\e06e";
}
.icon-videoclub:before {
  content: "\e06f";
}
.icon-infantil:before {
  content: "\e072";
}
.icon-documentales:before {
  content: "\e074";
}
.icon-deportes:before {
  content: "\e075";
}
.icon-circular-preguntas-frecuentes:before {
  content: "\e077";
}
.icon-circular-peliculas:before {
  content: "\e078";
}
.icon-circular-musica:before {
  content: "\e079";
}
.icon-circular-futbol:before {
  content: "\e07a";
}
.icon-circular-infantil:before {
  content: "\e07b";
}
.icon-circular-documentales:before {
  content: "\e07c";
}
.icon-circular-deportes:before {
  content: "\e07d";
}
.icon-circular-calendario:before {
  content: "\e07f";
}
.icon-calendario:before {
  content: "\e081";
}
.icon-circular-familia:before {
  content: "\e082";
}
.icon-familia:before {
  content: "\e084";
}
.icon-x:before {
  content: "\e085";
}
.icon-circular-configuracion-movil:before {
  content: "\e06c";
}
.icon-circular-alerta:before {
  content: "\e087";
}
.icon-alerta:before {
  content: "\e088";
}
.icon-circular-alerta-1:before {
  content: "\e089";
}
.icon-circular-comparar:before {
  content: "\e08a";
}
.icon-comparar:before {
  content: "\e00d";
}
.icon-menos:before {
  content: "\e049";
}
.icon-circular-aplicateca:before {
  content: "\e08d";
}
.icon-4-twitter-negativo:before {
  content: "\e08e";
}
.icon-3-twitter-negativo:before {
  content: "\e090";
}
.icon-3-twitter:before {
  content: "\e091";
}
.icon-2-twitter:before {
  content: "\e092";
}
.icon-2-twitter-negativo:before {
  content: "\e093";
}
.icon-1-twitter-negativo:before {
  content: "\e094";
}
.icon-1-twitter:before {
  content: "\e095";
}
.icon-validacion-movil:before {
  content: "\e08c";
}
.icon-twitter-siguenos:before {
  content: "\e096";
}
.icon-enviar:before {
  content: "\e097";
}
.icon-cheuron-izq:before {
  content: "\e065";
}
.icon-circular-atencion-soporte:before {
  content: "\e08b";
}
.icon-circular-ayuda:before {
  content: "\e098";
}
.icon-circular-compra:before {
  content: "\e099";
}
.icon-circular-dvr:before {
  content: "\e09a";
}
.icon-circular-factura-grafico:before {
  content: "\e09b";
}
.icon-circular-familia-1:before {
  content: "\e09c";
}
.icon-circular-icloud:before {
  content: "\e09d";
}
.icon-circular-musica-1:before {
  content: "\e09e";
}
.icon-circular-newsletter:before {
  content: "\e09f";
}
.icon-circular-preguntas-frecuentes-1:before {
  content: "\e0a0";
}
.icon-circular-recarga:before {
  content: "\e0a1";
}
.icon-circular-videoclub:before {
  content: "\e076";
}
.icon-circular-videoconferencia:before {
  content: "\e0a2";
}
.icon-circular-webmail:before {
  content: "\e0a3";
}
.icon-circular-mapa:before {
  content: "\e0a4";
}
.icon-mapa:before {
  content: "\e0a5";
}
.icon-circular-informacion:before {
  content: "\e0a6";
}
.icon-icloud:before {
  content: "\e0a7";
}
.icon-circular-camara:before {
  content: "\e0a9";
}
.icon-circular-conectividad:before {
  content: "\e0aa";
}
.icon-circular-bateria:before {
  content: "\e0ab";
}
.icon-circular-memoria:before {
  content: "\e0ac";
}
.icon-circular-procesador:before {
  content: "\e0ad";
}
.icon-circular-tam-pantalla:before {
  content: "\e0ae";
}
.icon-circular-audio:before {
  content: "\e0af";
}
.icon-circular-cheuron-down:before {
  content: "\e0b0";
}
.icon-circular-camara-1:before {
  content: "\e0b1";
}
.icon-circular-bluetooth:before {
  content: "\e0b2";
}
.icon-circular-grabacion:before {
  content: "\e0b3";
}
.icon-circular-mostrador-tienda:before {
  content: "\e0b4";
}
.icon-circular-bateria-1:before {
  content: "\e0b5";
}
.icon-desbloquear:before {
  content: "\e0b6";
}
.icon-regalo:before {
  content: "\e0b7";
}
.icon-circular-regalo:before {
  content: "\e0b8";
}
.icon-ofertas:before {
  content: "\3b";
}
.icon-android:before {
  content: "\e018";
}
.icon-circular-android:before {
  content: "\e035";
}
.icon-circular-cheuron-izq:before {
  content: "\e0b9";
}
.icon-circular-cheuron-up:before {
  content: "\e0ba";
}
.icon-flecha-up:before {
  content: "\e0bb";
}
.icon-adultos:before {
  content: "\e0bc";
}
.icon-circular-adultos:before {
  content: "\e0be";
}
.icon-canales-carta:before {
  content: "\e0bf";
}
.icon-circular-apps:before {
  content: "\e0c0";
}
.icon-circular-canales-carta:before {
  content: "\e0c1";
}
.icon-circular-contenido-carta:before {
  content: "\e0c2";
}
.icon-circular-hd:before {
  content: "\e0c3";
}
.icon-circular-guia-tv:before {
  content: "\e0c4";
}
.icon-circular-multipantalla-tv:before {
  content: "\e0c5";
}
.icon-circular-pin-parental:before {
  content: "\e0c6";
}
.icon-circular-programas-tv:before {
  content: "\e0c7";
}
.icon-circular-restart:before {
  content: "\e0c8";
}
.icon-circular-series:before {
  content: "\e0c9";
}
.icon-circular-vo:before {
  content: "\e0ca";
}
.icon-circular-videoteca:before {
  content: "\e0cb";
}
.icon-contenido-carta:before {
  content: "\e0cc";
}
.icon-pin-parental:before {
  content: "\e0cd";
}
.icon-peliculas:before {
  content: "\e0ce";
}
.icon-hd:before {
  content: "\e0cf";
}
.icon-guia-tv:before {
  content: "\e0d0";
}
.icon-programas-tv:before {
  content: "\e0d2";
}
.icon-series:before {
  content: "\e0d3";
}
.icon-restart:before {
  content: "\e0d4";
}
.icon-vo:before {
  content: "\e0d5";
}
.icon-videoteca:before {
  content: "\e0d6";
}
.icon-moviles-liberados:before {
  content: "\e0d7";
}
.icon-circular-cobertura:before {
  content: "\e0d8";
}
.icon-circular-envios:before {
  content: "\e0d9";
}
.icon-circular-pago-mensual:before {
  content: "\e0da";
}
.icon-circular-moviles-liberados:before {
  content: "\e0db";
}
.icon-circular-test-velocidad:before {
  content: "\e0dc";
}
.icon-news:before {
  content: "\e0df";
}
.icon-guia-rap:before {
  content: "\5f";
}
.icon-guia-rap-1:before {
  content: "\e0dd";
}
.icon-folleto:before {
  content: "\e0de";
}
.icon-extender-pantalla:before {
  content: "\e0e0";
}
.icon-folleto-1:before {
  content: "\e0e2";
}
.icon-circular-movil:before {
  content: "\e0e3";
}
.icon-reducir-pantalla:before {
  content: "\e0e6";
}
.icon-volumen-on:before {
  content: "\e0e8";
}
.icon-volumen-off:before {
  content: "\e0ea";
}
.icon-volumen-off-1:before {
  content: "\e0eb";
}
.icon-acceso-clientes-1:before {
  content: "\3f";
}
.icon-circular-asistencia-tecnica:before {
  content: "\5b";
}
.icon-apps:before {
  content: "\e0bd";
}
.icon-envios:before {
  content: "\e0ee";
}
.icon-pago-mensual:before {
  content: "\e0ef";
}
.icon-volumen-on-1:before {
  content: "\e0e9";
}
.icon-circular-cheuron-dcha:before {
  content: "\e001";
}
.icon-ahorro-2:before {
  content: "\e0ed";
}
.icon-ahorro-1:before {
  content: "\e0ec";
}
.icon-pay-go:before {
  content: "\e0f0";
}
.icon-circular-pay-go:before {
  content: "\e0f1";
}
.icon-circular-juegos:before {
  content: "\e0f2";
}
.icon-juegos:before {
  content: "\e0f3";
}
.icon-twitter:before {
  content: "\76";
}
.icon-test-velocidad-100:before {
  content: "\e0f4";
}
.icon-circular-test-velocidad-100:before {
  content: "\e0f5";
}
.icon-circular-pausa:before {
  content: "\e0f6";
}
.icon-pausa:before {
  content: "\e0f7";
}
.icon-recarga:before {
  content: "\e0e4";
}
.icon-circular-movil-tarjeta-4:before {
  content: "\3a";
}
.icon-circular-movil-tarjeta-8:before {
  content: "\e0f8";
}
.icon-circulra-movil-tarjeta-2:before {
  content: "\e0f9";
}
.icon-movil-tarjeta:before {
  content: "\e0fa";
}
.icon-movil-tarjeta-2:before {
  content: "\e0fb";
}
.icon-movil-tarjeta-4:before {
  content: "\e0fc";
}
.icon-movil-tarjeta-8:before {
  content: "\e0fd";
}
.icon-play:before {
  content: "\e0fe";
}
.icon-circular-movil-tarjeta-6:before {
  content: "\e0ff";
}
.icon-movil-tarjeta-6:before {
  content: "\e100";
}
.icon-noticias:before {
  content: "\e06d";
}
.icon-circular-play:before {
  content: "\65";
}
.icon-aplicateca:before {
  content: "\e101";
}
.icon-check:before {
  content: "\e104";
}
.icon-circular-red-1:before {
  content: "\e105";
}
.icon-red2:before {
  content: "\e106";
}
.icon-acceso-clientes:before {
  content: "\28";
}
.icon-circular-internet:before {
  content: "\e102";
}
.icon-circular-desvio:before {
  content: "\2d";
}
.icon-desvio:before {
  content: "\e103";
}
.icon-circular-comunidad-profesional:before {
  content: "\e107";
}
.icon-comunidad-profesional:before {
  content: "\e108";
}
.icon-wifi-plus:before {
  content: "\e109";
}
.icon-wifi-plus-1:before {
  content: "\e10a";
}
.icon-informacion:before {
  content: "\e0a8";
}
.icon-test-velocidad-300:before {
  content: "\e10b";
}
.icon-circular-manual-interactivo:before {
  content: "\e10c";
}
.icon-manual-interactivo:before {
  content: "\e10d";
}
.icon-circular-flag:before {
  content: "\e10e";
}
.icon-flag:before {
  content: "\e10f";
}
.icon-circular-factura-interactiva:before {
  content: "\e110";
}
.icon-factura-interactiva:before {
  content: "\e111";
}
.icon-buscar-mobile:before {
  content: "\38";
}
.icon-circular-buscar-1:before {
  content: "\e112";
}
.icon-circular-mosaico:before {
  content: "\e113";
}
.icon-reparacion-moviles:before {
  content: "\e115";
}
.icon-toros:before {
  content: "\e116";
}
.icon-cazaypesca:before {
  content: "\e117";
}
.icon-sin-inversion:before {
  content: "\e118";
}
.icon-semi:before {
  content: "\e119";
}
.icon-latino:before {
  content: "\e071";
}
.icon-configuracion-movil:before {
  content: "\e086";
}
.icon-ahorro-3:before {
  content: "\e11a";
}
.icon-4-twitter:before {
  content: "\e08f";
}
.icon-mando:before {
  content: "\e11b";
}
.icon-multipantalla:before {
  content: "\e054";
}
.icon-ofimatica:before {
  content: "\e11c";
}
.icon-opciones:before {
  content: "\e11d";
}
.icon-dispositivos-conectados:before {
  content: "\e11e";
}
.icon-filtro:before {
  content: "\e11f";
}
.icon-circular-dolbydigital:before {
  content: "\e120";
}
.icon-dolbydigital:before {
  content: "\e121";
}
.icon-control:before {
  content: "\e01c";
}
.icon-circular-multisim:before {
  content: "\e0d1";
}
.icon-multisim:before {
  content: "\e122";
}
.icon-multipantalla-tv:before {
  content: "\e123";
}
.icon-circular-4g-plus:before {
  content: "\e124";
}
.icon-4g-plus:before {
  content: "\e125";
}
.icon-estrella-1:before {
  content: "\e126";
}
.icon-estrella-0:before {
  content: "\e127";
}
.icon-estrella-2:before {
  content: "\e128";
}
.icon-tablet-movil:before {
  content: "\e129";
}
.icon-televisor:before {
  content: "\e12a";
}
.icon-toggle-off:before {
  content: "\e12b";
}
.icon-android-volume-down:before {
  content: "\e12e";
}
.icon-buscar:before {
  content: "\35";
}
.icon-comparativa-off:before {
  content: "\e021";
}
.icon-comparativa-on:before {
  content: "\e12c";
}
.icon-corazon-off:before {
  content: "\e12d";
}
.icon-corazon-on:before {
  content: "\e12f";
}
.icon-firefox:before {
  content: "\e130";
}
.icon-i-explorer:before {
  content: "\e131";
}
.icon-opera:before {
  content: "\e132";
}
.icon-orden-filas:before {
  content: "\e133";
}
.icon-orden-modular:before {
  content: "\e134";
}
.icon-safari:before {
  content: "\e135";
}
.icon-chrome:before {
  content: "\e136";
}
.icon-ajustes:before {
  content: "\e137";
}
.icon-circular-ajustes:before {
  content: "\e138";
}
.icon-circular-pincha-aqui:before {
  content: "\e139";
}
.icon-pincha-aqui:before {
  content: "\e13a";
}
.icon-medir:before {
  content: "\e13b";
}
.icon-ok:before {
  content: "\e13c";
}
.icon-ram-1gb:before {
  content: "\e13d";
}
.icon-ram-2gb:before {
  content: "\e13e";
}
.icon-ram-3gb:before {
  content: "\e13f";
}
.icon-ram-4gb:before {
  content: "\e140";
}
.icon-circular-medir:before {
  content: "\e141";
}
.icon-circular-ok:before {
  content: "\e142";
}
.icon-circular-x:before {
  content: "\e083";
}
.icon-circular-ram-1gb:before {
  content: "\e143";
}
.icon-circular-ram-2gb:before {
  content: "\e144";
}
.icon-circular-ram-3gb:before {
  content: "\e145";
}
.icon-circular-ram-4gb:before {
  content: "\e146";
}
.icon-circular-autoayuda:before {
  content: "\e147";
}
.icon-autoayuda:before {
  content: "\e148";
}
.icon-pago-tv:before {
  content: "\e149";
}
.icon-circular-a-aplicaciones:before {
  content: "\e14a";
}
.icon-circular-tarifa-movil:before {
  content: "\e14b";
}
.icon-circular-tv-a-la-carta:before {
  content: "\e14c";
}
.icon-global-1:before {
  content: "\e14e";
}
.icon-flag-1:before {
  content: "\e14f";
}
.icon-oferta-fusion:before {
  content: "\e150";
}
.icon-tarifa-internacional:before {
  content: "\e151";
}
.icon-tarifa-movil:before {
  content: "\e152";
}
.icon-tarifas-roaming:before {
  content: "\e153";
}
.icon-favoritos-1:before {
  content: "\e154";
}
.icon-circular-alerta-2:before {
  content: "\e155";
}
.icon-extender-pantalla-1:before {
  content: "\e04d";
}
.icon-reducir-pantalla-1:before {
  content: "\e0e1";
}
.icon-recarga-1:before {
  content: "\e0e5";
}
.icon-seguridad:before {
  content: "\e056";
}
.icon-volumen-on-2:before {
  content: "\e0e7";
}
.icon-volumen-off-2:before {
  content: "\e157";
}
.icon-circular-seguridad:before {
  content: "\e156";
}
.icon-activar-linea-movil:before {
  content: "\e15b";
}
.icon-campana:before {
  content: "\e15c";
}
.icon-champions:before {
  content: "\e15d";
}
.icon-copa-rey:before {
  content: "\e15e";
}
.icon-trafico-datos:before {
  content: "\e15f";
}
.icon-circular-volumen:before {
  content: "\e160";
}
.icon-circular-cargador:before {
  content: "\e161";
}
.icon-circular-cable-datos:before {
  content: "\e162";
}
.icon-circular-plus-forte:before {
  content: "\e163";
}
.icon-grabacion:before {
  content: "\e164";
}
.icon-europa-league:before {
  content: "\e165";
}
.icon-u7d:before {
  content: "\e166";
}
.icon-lineas2:before {
  content: "\e167";
}
.icon-vod:before {
  content: "\e168";
}
.icon-mosaico:before {
  content: "\e169";
}
.icon-a-aplicaciones:before {
  content: "\e16a";
}
.icon-cable-datos:before {
  content: "\e16b";
}
.icon-guardar:before {
  content: "\e16c";
}
.icon-ver:before {
  content: "\e16d";
}
.icon-circular-guardar:before {
  content: "\e16e";
}
.icon-circular-ver:before {
  content: "\e16f";
}
.icon-mpluscircu:before {
  content: "\e170";
}
.icon-multidispositivo-tv:before {
  content: "\e171";
}
.icon-circular-oficina-movil:before {
  content: "\e172";
}
.icon-oficina-movil:before {
  content: "\e173";
}
.icon-circular-imprimir:before {
  content: "\e174";
}
.icon-imprimir:before {
  content: "\e175";
}
.icon-fibra-50:before {
  content: "\e176";
}
.icon-fibra-simetrica:before {
  content: "\e177";
}
.icon-mejorar:before {
  content: "\e178";
}
.icon-circular-consultar-consumos:before {
  content: "\e17a";
}
.icon-consultar-consumos:before {
  content: "\e17b";
}
.icon-conectividad:before {
  content: "\e17c";
}
.icon-producto:before {
  content: "\e17d";
}
.icon-circular-descarga2:before {
  content: "\e17e";
}
.icon-cine:before {
  content: "\e17f";
}
.icon-circular-motor:before {
  content: "\e180";
}
.icon-circular-producto:before {
  content: "\e181";
}
.icon-motor-1:before {
  content: "\e183";
}
.icon-descarga2:before {
  content: "\e182";
}
.icon-nota:before {
  content: "\e185";
}
.icon-menu-opciones:before {
  content: "\e186";
}
.icon-infinity:before {
  content: "\e187";
}
.icon-mobile-connect:before {
  content: "\e188";
}
.icon-no-ver:before {
  content: "\e189";
}
.icon-audicion-nula-cuadrado:before {
  content: "\e18a";
}
.icon-audicion-parcial-cuadrado:before {
  content: "\e18b";
}
.icon-dificultad-comprension-cuadrado:before {
  content: "\e18c";
}
.icon-dificultad-moderada-manipulacion-cuadrado:before {
  content: "\e18d";
}
.icon-dificultad-severa-manipulacion-cuadrado:before {
  content: "\e18e";
}
.icon-vision-nula-cuadrado:before {
  content: "\e18f";
}
.icon-vision-parcial-cuadrado:before {
  content: "\e190";
}
.icon-lock-locker-streamline:before {
  content: "\e191";
}
.icon-streamline-sync:before {
  content: "\e192";
}
.icon-chat-nuevo:before {
  content: "\e193";
}
.icon-cloud-nuevo:before {
  content: "\e194";
}
.icon-comunidad-nuevo:before {
  content: "\e195";
}
.icon-configuracion-nuevo:before {
  content: "\e196";
}
.icon-descargar-nuevo:before {
  content: "\e197";
}
.icon-gestion-nuevo:before {
  content: "\e198";
}
.icon-idea-nuevo:before {
  content: "\e199";
}
.icon-fijo-nuevo:before {
  content: "\e19a";
}
.icon-movil-nuevo:before {
  content: "\e19b";
}
.icon-maletin-nuevo:before {
  content: "\e19c";
}
.icon-tv-nuevo:before {
  content: "\e19d";
}
.icon-usuario-nuevo:before {
  content: "\e19e";
}
.icon-fibra-nuevo:before {
  content: "\e19f";
}
.icon-fusion4tvmob2-ficcion:before {
  content: "\e1a1";
}
.icon-m-nuevo:before {
  content: "\e1a3";
}
.icon-circular-ecorating:before {
  content: "\e1a4";
}
.icon-contenedor-nube:before {
  content: "\e1a5";
}
.icon-contenedor-boca:before {
  content: "\e1a6";
}
.icon-contenedor-poligono:before {
  content: "\e1a7";
}
.icon-contenedor-gota:before {
  content: "\e1a8";
}
.icon-contenedor-estrella:before {
  content: "\e1a9";
}
.icon-contenedor-corazon:before {
  content: "\e1aa";
}
.icon-contenedor-bocadillo:before {
  content: "\e1ab";
}
.icon-tarjeta:before {
  content: "\e1ac";
}
.icon-contenedor-poligono-1:before {
  content: "\e1ad";
}
.icon-contenedor-1:before {
  content: "\e1ae";
}
.icon-contenedor-2:before {
  content: "\e1af";
}
.icon-contenedor-3:before {
  content: "\e1b0";
}
.icon-contenedor-4:before {
  content: "\e1b1";
}
.icon-contenedor-5:before {
  content: "\e1b2";
}
.icon-n-bigote:before {
  content: "\e1b3";
}
.icon-n-bluetooh:before {
  content: "\e1b4";
}
.icon-n-candado:before {
  content: "\e1b5";
}
.icon-n-cine:before {
  content: "\e1b7";
}
.icon-n-copa:before {
  content: "\e1b8";
}
.icon-n-download:before {
  content: "\e1b9";
}
.icon-n-multidispositivo:before {
  content: "\e1bc";
}
.icon-n-phone:before {
  content: "\e1bd";
}
.icon-n-portatil:before {
  content: "\e1be";
}
.icon-n-tablet:before {
  content: "\e1c0";
}
.icon-n-tv:before {
  content: "\e1c1";
}
.icon-n-sol:before {
  content: "\e1c2";
}
.icon-n-people:before {
  content: "\e1c3";
}
.icon-n-gamepad:before {
  content: "\e1bb";
}
.icon-n-hd:before {
  content: "\e1bf";
}
.icon-n-tv-ico:before {
  content: "\e1c4";
}
.icon-bocadillos:before {
  content: "\e1c5";
}
.icon-bombilla:before {
  content: "\e1c6";
}
.icon-icono:before {
  content: "\e1c7";
}
.icon-llave:before {
  content: "\e1c8";
}
.icon-movistar:before {
  content: "\e1c9";
}
.icon-mundo:before {
  content: "\e1cb";
}
.icon-rueda:before {
  content: "\e1cc";
}
.icon-circular-tarjeta-2:before {
  content: "\e1ba";
}
.icon-usuario-logado:before {
  content: "\e1ca";
}
.icon-velocidad:before {
  content: "\e070";
}
.icon-motor:before {
  content: "\e080";
}
.icon-futbol:before {
  content: "\e179";
}
.icon-classica:before {
  content: "\e1b6";
}
.icon-barcatv:before {
  content: "\e1cd";
}
.icon-caza-pesca:before {
  content: "\e1ce";
}
.icon-iberalia:before {
  content: "\e073";
}
.icon-mezzotv:before {
  content: "\e1cf";
}
.icon-playboy:before {
  content: "\e1d0";
}
.icon-off-2:before {
  content: "\e07e";
}
.icon-desconectar:before {
  content: "\21";
}
.icon-instagram:before {
  content: "\73";
}
.icon-internet:before {
  content: "\60";
}
.icon-internet-movil:before {
  content: "\7c";
}
.icon-circular-internet-movil:before {
  content: "\e114";
}
.icon-internet-y-fijo:before {
  content: "\e14d";
}
.icon-fusion2:before {
  content: "\e158";
}
.icon-fusion4tv:before {
  content: "\e159";
}
.icon-fusion4tvmob2:before {
  content: "\e15a";
}
.icon-fusion4tvmob4:before {
  content: "\e1a0";
}
.icon-punteado-movil-nuevo:before {
  content: "\2e";
}
.icon-fibra:before {
  content: "\57";
}
.icon-fijo:before {
  content: "\e066";
}
.icon-movil:before {
  content: "\e1a2";
}
.icon-movil2:before {
  content: "\e1d1";
}
.icon-movil4:before {
  content: "\e1d2";
}
.icon-tv:before {
  content: "\48";
}
.icon-tv-hd:before {
  content: "\e1d3";
}
